<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" > 
        <!-- action means ki kis url ma data upload kerna ha-->
         <!-- kisi file ko upload kerne ke liye hame enctype dena padta ha -->
        <input type="file" name="profile" >
        <button type="submit">Upload the file</button>
    </form>
</body>
</html>
